.footer-container{
width: 100%;
bottom: 0;
background-color: #525B76;
display: flex;
flex-direction: column;
align-items: center;
}

.footer-socials{
display: flex;
flex-direction: column;
align-items: center;
}

.icon-container{
display: flex;
align-items: center;
gap: 2rem;
}

.icon-container li{
    list-style: none;
}